* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
}
.bgimg {
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* img {
  height: 100%;
  width: 100%;
} */

.bubble {
  /* Group 149 */

  width: 515.97px;
  height: 219.91px;

  filter: drop-shadow(3px 6px 29.7px #68e0f3);
}
